accelerate 
pytorch-lightning 
transformers 
ftfy 
regex 
tqdm 
scipy
typed-argument-parser
wandb
diffusers
csv_logger
peft
sentence_transformers
editdistance
einops
torch_ema
image-reward
hpsv2
pytorch_fid